/* ============分类列表============== */

div.productclass_dolphin{
margin:0px;
padding:15px 0px 0px 0px;
}


div.productclass_dolphin a{
display:block;
text-decoration: none;
font:12px/29px simsun,Verdana, Arial, sans-serif;
height:30px;
text-align:left;
background:url(../images/listx.png) 0px 0px no-repeat;
padding-left:60px;
color:#505050;
}

div.productclass_dolphin a:hover{
display:block;
color: #505050; 
background:url(../images/listx2.png) 0px 0px no-repeat;
text-decoration: none;
}
